.app {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding-right: 10px;
}

input[type="text"].error {
  border: 1px #fbc59f solid;
}

form#email_registration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

form#food_to_bring {
  margin-top: 20px;
}

form input[type="text"] {
  height: 30px;
  padding-left: 5px;
}

form#email_registration input[type="text"] {
  width: 60%;
}

form#food_to_bring input[type="text"] {
  width: 95%;
  margin-bottom: 5px;
}

input[type="text"]::placeholder {
  font-style: italic;
}

form#email_registration button {
  width: 30%;
}

button.primary {
  background-color: #c0cfc3;
  border: 1px #333 solid;
  border-radius: 3px;
  font-weight: bold;
}

form#email_registration button:disabled {
  color: black; /* just overrides the browser default to show emoji */
}

span#error {
  margin-left: 15px;
  color: #fbc59f;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}

.orange {
  color: #ff9944;
}

.participants_table_container {
  margin-left: 15px;
  font-size: 11px;
}

.participants_table tr :first-child {
  width: 30%;
}

.participants_table tr :nth-child(2) {
  width: 70%;
}

.participants_table input[type='text'] {
  width: 100%;
}

.field_explanation {
  font-size: 10px;
}

.participant_name {
  font-weight: bold;
}

.participants_table_container button {
  margin-top: 10px;
  margin-right: 30px;
  height: 30px;
  min-width: 50px;
}

.participants_table_container .button_group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}
